{% include "base.html" with page_title='Курсы' %}
<!-- {% block custom_css %}
<style>
    .filter__btn {
        width: 13%;
        height: 50%;
        background-color: var(--blue-color);
        border: none;
        border-radius: 5px;
        text-align: center;
        padding: 7px 14px;

        transition: background-color .2s linear;
    }
    .filter__btn:hover {
        background-color: var(--grey-color);
    }
    .filter__title {
        margin-right: 15px;
        color: #000;
    }
    .filter__select {
        margin-right: 45px;
        padding: 7px 14px;
        border-radius: 5px;
        text-align: center;

        border-color: var(--dark-color);
        background-color: var(--light-color);
    }
    .add-button {
        display: inline-block;
        padding: 10px 20px;
        margin-bottom: 10px;
        font-size: 16px;
        color: white;
        background-color: #007BFF;
        text-align: center;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s;
    }
    .add-button:hover {
        background-color: #0056b3;
    }
</style>
{% endblock %} -->


{% block container %}
    <div class="container mt-4">
        <a href="{% url 'course-create' %}" class="add-button">Добавить курс</a>
        {% load render_table from django_tables2 %}

        {% render_table table %}
        {% if can_edit %}
            
        {% endif %}

        <div class="courses__list">
            <div class="containter">
                <div class="course__item">
                        <a href="#" class="course__flex">
                        <div class="course__info">
                            <img class="course__img" src="https://cdn.stepik.net/media/cache/images/courses/113714/cover_IgSEHwD/dd4fc60d221af004f8e5e9e64382c46d.png" alt="">                      
                            <div class="course__name">
                                <h3 class="course__title text-h2">Redux для управления состоянием React-приложений</h3>
                                <p class="course__autor text-p">Михаил Степанов</p>
                                <p class="course__desc text-p">Освойте принцип работы Redux — на классическом и современном вариантах использования. 2 проекта внутри.</p>    
                            </div>
                            <div class="course-down-content">
                                <div class="review-icons">
                                    &#9733 &#9733 &#9733 &#9733 &#9733
                                </div>
                                <a href="#" class="course__btn"></a>
                            </div>
                        </div>
                        
                    </a>
                  </div>
            </div>
        </div>
        


    </div>
    
{% endblock %}
