.courses__list {
    margin-bottom: 16px;
}
.course__flex {
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    border-bottom: 1px solid;
    border-color: var(--blue-color);
    /* border-radius: 10px; */
}
.course__img {
    margin-right: 16px;
}
.course__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.course__name {
    display: flex;
    flex-direction: column;
}
.course__title {
    margin-bottom: 16px;
}
.course__desc {
}
.arrow__down {
}