.well__hero {
    background-color: var(--dark-color);
    padding: 72px 20px;
}
.well__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.well__name {

}
.well__title {
    margin-bottom: 16px;
    color: var(--light-color);
}
.well__subtitle {
    color: #e7f5ff9e;
    margin-bottom: 16px;
}
.certif__con {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}
.well__btn {
    margin: 0;
    background-color: var(--blue-color);
    position: unset;
}

.well__content {
    color: rgba(26, 26, 26, 0.851);
    padding-bottom: 48px;
}
.well__title2 {
    margin-top: 32px;
    margin-bottom: 16px;
}
.well__text {
    color: rgba(26, 26, 26, 0.851);
    margin-bottom: 40px;
}
.ul__title {
    margin-top: 16  px;
}
.well__ul {
    margin-bottom: 32px;
}
.li-elem {
    margin-bottom: 12px;
}
.unique-container {
    width: 65%; /* или любая другая ширина */
    margin-right: auto;
    margin-left: 11%;
  }

.course-info-modal {
    position: fixed;
    right: 10px; /* Расстояние от правого края */
    bottom: 10px; /* Расстояние от нижнего края */
    width: 300px; /* Ширина окна */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    z-index: 1000;
    border-radius: 10px;
  }
  .course-info-modal-container {
    padding: 20px;
    padding-bottom: 0;
  }

  .course-info-modal h2 {
    margin-top: 0;
    color: var(--blue-color);
  }

  .course-info-modal button {
    display: block;
    width: 100%;
    padding: 16px 20px;
    background-color: var(--white-color);
    color: var(--blue-color);
    border: none;
    cursor: pointer;
    text-align: left;

    transition: background-color .2s linear;
  }

  .course-info-modal button:hover {
    background-color: var(--light-color);
  }
  .text-highlighted {
    color: var(--grey-color);
  }
  .course-info-modal p {
    margin: 10px 0;
  }



