{% extends "base.html" %}
{% block container %}
    <div class="card">
        <div class="main-content">
            <div class="task__container">
                <div class="course-name text-h1">
                    {{ task.name }}
                </div>
                <div class="task-text text-h2">
                    {{ task.description|linebreaks }}
                </div>
                <div class="card">
{#                <<div class="card-header">#}
{#                    <h5 class="card-title-task">{{ title }}</h5>#}
{#                </div>#}
                <div class="card-body-task">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form.answer}}
                        <button type="submit" class="btn profile__btn text-p">
                            Отправить ответ
                        </button>
                    </form>
                </div>
                    <div class="mark">Максимальный балл: {{ task.max_mark }}</div>
                    <div class="mark">Лучшая попытка: {{ best_try }}</div>
                    <div>Решения:</div>
                    <ol class="list-group">
                        {% for row in answers_qs %}
                            {% if can_edit %}
                                <a href="{% url 'answer-update' pk=row.pk %}"> {{ row.answer }}, {{ row.created }}({{ row.status }}) - {{ row.mark }} </a>
                            {% else %}
                                <a href="#"> {{ row.id }}{{ row.name }}, {{ row.created }} </a>
                            {% endif %}
                        {% endfor %}
                    </ol>
            </div>
        </div>


        <div class="right-menu">
            <ol class="list-group">
                {% for row in task.block.task_set.all %}
                    {% if row.id == task.id %}
                    <li class="list-group-item active-item">
                    {% else %}
                    <li class="list-group-item">
                    {% endif %}
                        <a href="{% url 'answer-create' from_pk=row.pk %}"> {{ row.name }} </a>
                    </li>
                {% endfor %}

            </ol>
                {% if can_edit %}
                    <a href="{% url 'task-create' from_pk=task.block_id %}" class="profile__btn text-p add-b"> Добавить </a>
                {% endif %}
        </div>
        </div>
    </div>
    <style>
        .main-content {
            display: flex;
            justify-content: space-between;
        }
        .course-name {
            margin-bottom: 8px;
        }

        .list-group {
            counter-reset: li;
            list-style: none;
            font: 20px "Ubuntu",sans-serif;
            padding: 0;
        }

        .list-group a {
            position: relative;
            display: block;
            padding: .4em .4em .4em .8em;
            margin: .5em 0 .5em 2.5em;
            background: var(--blue-color);
            color: white;
            text-decoration: none;
            transition: all .3s ease-out;
            border-radius: 5px;
            width: 200px;
        }

        .list-group a:hover {
            background: var(--dark-color);
        }
        
        .list-group .active-item a:before  {
            background: var(--dark-color);
        }

        .list-group a:before {
            content: counter(li);
            counter-increment: li;
            position: absolute;
            left: -2.5em;
            top: 50%;
            margin-top: -1em;
            background: var(--grey-color);
            height: 2em;
            width: 2em;
            line-height: 2em;
            text-align: center;
            font-weight: bold;
            border-radius: 5px;
        }

        .list-group a:after {
            position: absolute;
            content: "";
            border: .5em solid transparent;
            left: -1em;
            top: 50%;
            margin-top: -.5em;
            transition: all .3s ease-out;
        }

        .list-group a:hover:after {
            left: -.5em;
            border-left-color: #9097A2;
        }
        .task__container {
            background: rgba(55, 71, 79, 0.07);
            border-radius: 24px;
            margin-bottom: 90px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding: 30px 20px;
            width: 70%;
        }
        .card-body-task {
            background: rgba(0, 0, 0, 0);
            margin-top: 30px;
        }
        .card-body-task textarea {
            background: rgba(0, 0, 0, 0);
            border: #007BFF 1px solid;
            color: var(--dark-color);
            width: 100%;
        }
        .card-body-task button {
            width: 200px;
        }
        .mark {
            color: #5F6982;
            margin-bottom: 12px;
        }
        .task-text {
            {#margin-top: 50px;#}
            {#margin-bottom: 50px;#}
        }
        .add-b {
            margin-top: 100px;
            background: var(--dark-color);
        }
    </style>
{% endblock %}